<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalTermProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=UTTAM-PC;Initial Catalog='Gym Management System';User ID=sa;Password=uvcreation;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>